@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .item-sidebar {
        @apply text-[#8B949E] text-[20px] transition-transform duration-100 ease-out hover:scale-[1.3] origin-center active:scale-[1.1];
    }

    .title {
        @apply w-[30%] h-full border-[#2D3139] border-t-[#028BE4] border-b-0 border-r-0 border-[1px] text-[9px] text-[#ffffff] bg-[#0B1117]  flex items-center justify-center;
    }

    .article {
        @apply w-full h-[464px] bg-[#0B1117] border-[#2D3139] border-[1px]  border-t-0 px-10 pt-2 overflow-y-scroll s:px-5;
    }

    .content-show {
        @apply w-[50%] transition-all duration-300 ease-out md:w-full;
    }

    .content-hide {
        @apply hidden;
    }

    /* .font-content{
        @apply 
    } */

    .contact-item {
        @apply text-[30px] text-[#8B949E] transition-transform duration-100 ease-out hover:scale-[1.3] origin-center active:scale-[1.1];
    }

    .pro-lang-image {
        @apply w-[80px] h-[80px] object-cover rounded-[10px] justify-self-center md:w-[60px] md:h-[60px] s:w-[50px] s:h-[50px];
    }

    .school-image {
        @apply col-span-1 w-2/3 object-cover rounded-[10px] md:w-1/3 md:justify-self-center s:w-2/3 s:justify-self-start;
    }

    .exp-card {
        @apply bg-[#ffffff] h-[250px] rounded-[10px]  hover:scale-105 transition-all duration-300 ease-out;
    }

    .title-exp {
        @apply absolute w-full h-full flex opacity-0 justify-center items-center bg-low-black hover:opacity-100 transition-opacity duration-300 ease-out;
    }

    .title-text {
        @apply w-full font-jersey text-[#ffffff] text-[30px] text-center mx-3;
    }

    .modal-canvas {
        @apply fixed flex w-full h-full bg-low-white justify-center items-center animate-popup;
    }
    .modal-hide {
        @apply hidden;
    }

    .modal-content {
        @apply bg-modal-black w-full h-full max-w-[700px] max-h-[550px] mx-7 rounded-[20px]  p-7;
    }

    .modal-detail {
        @apply h-full overflow-y-scroll px-4 flex flex-col justify-between;
    }

    .x-in-modal {
        @apply self-end  text-[#8B949E] text-[20px] hover:scale-110  transition-all p-4;
    }

    @keyframes close-content {
        0% {
            @apply w-[49%] opacity-100 md:w-full;
        }
        100% {
            @apply w-0 opacity-0;
        }
    }

    @keyframes show-content {
        0% {
            @apply w-0 opacity-0 md:w-0;
        }
        100% {
            @apply md:w-full opacity-100;
        }
    }
}

/* Setting page */
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
}

main {
    max-width: 100%;
    height: 100vh;
}

/* hide and show content page */

.content-show {
    animation: show-content 0.5s;
}

.content-hide {
    animation: close-content 0.5s;
}

/* three d */

#container3D canvas {
    width: 100% !important;
    height: 100% !important;

    background-image: radial-gradient(
        circle,
        rgba(241, 241, 241, 1),
        rgba(11, 17, 23, 1) 80%
    );
}

/* Scrollbar style */

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8b949e;
    border-radius: 10px;
}

.text-line-l::before,
.text-line-r::after {
    content: '';
    border: solid 1px white;
    margin: 0px 10px;
    flex-grow: 1;
    height: 1px;
    align-self: center;
}

@media screen and (max-width: 500px) {
    .text-line-l::before,
    .text-line-r::after {
        display: none;
    }
}

/* loader */

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  height: 50px;
  aspect-ratio: 2;
  border: 10px solid #000;
  box-sizing: border-box;
  background: 
    radial-gradient(farthest-side,#fff 98%,#0000) left/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) left/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) center/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) right/20px 20px,
    #000;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: l14 1s infinite;
}
@keyframes l14 {
  100%  {background-position:right,left,center,right}
}
